<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>DUO Eventos</title>
</head>
<body style="background-color: #000000cb;">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #000000cb;">
            <div class="container-fluid">
              <div class="navbar-brand" style="color: white;">
                <img src="img/home/logo_white.png" alt="Logo" width="120" height="70">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white;">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/bookingdate" style="color: white;">Orçamento</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>-->
                </ul>
                <% if(key){ %>
                    <div class="dropdown d-flex" style="margin-right: 7%;">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                    <%= name %>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/painel">Meu perfil</a></li>
                                    <li><a class="dropdown-item" href="/my_reservations">Minhas reservas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/logout">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <% } else { %>
                    <a class="btn btn-outline-secondary" href="/login" role="button" style="margin: 12px; color: white;">Entrar</a>
                    <a class="btn btn-primary" href="/register" role="button" style="margin-right: 12px;">Registrar-se</a>
                <% } %>
                <!--<div class="dropdown d-flex" style="margin-right: 7%;">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                          Usuário
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="/my_data">Meus dados</a></li>
                          <li><a class="dropdown-item" href="/my_reservations">Minhas reservas</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>-->

                <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
              </div>
            </div>
        </nav>
    </header>
    <main style="margin-bottom: 12px;">
        <div class="container" style="border-radius: 0px 0px 12px 12px; background-color: #ffffffda; padding: 12px;">
            <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active sm">
                    <img src="img/home/duoexterno.png" class="d-block container-fluid w-75" alt="Imagem DUO parte externa">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>EXLUSIVO</h5>
                        <p>O primeiro local para grandes eventos na cidade</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="img/home/duointerno.png" class="d-block w-75 container-fluid" alt="Imagem DUO parte interna">
                    <div class="carousel-caption d-none d-md-block" style="color: black;">
                      <h5>CONFORTO</h5>
                      <p>Planejado para os melhores e maiores eventos, com espaço para até 216 pessoas</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="img/home/duokids.png" class="d-block w-75 container-fluid" alt="Imagem DUO Kids">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>DIVERSÃO</h5>
                      <p>Salão separado com brinquedos e um grande espaço para crianças</p>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Proximo</span>
                </button>
            </div>

            <div class="row" style="margin-top: 100px;">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoduo.png" class="card-img-top" alt="Logo DUO Adultos">
                        <div class="card-body">
                          <h5 class="card-title">Adultos</h5>
                          <p class="card-text">Um espaço amplo para eventos diversos</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoduo_kids.png" class="card-img-top" alt="Logo DUO Kids">
                        <div class="card-body">
                          <h5 class="card-title">Kids</h5>
                          <p class="card-text">Conforto e diversão para crianças</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoeventos.png" class="card-img-top" alt="Lodo DUO Eventos">
                        <div class="card-body">
                          <h5 class="card-title">Quer saber mais?</h5>
                          <p class="card-text">Entre em contato conosco para mais detalhes</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted" style="background-color: #ffffffc5;">
        <!-- Section: Social media -->
        <!--<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
                </a>
            </div>
        </section>-->
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="" style="padding-top: 0.1px;">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <img src="img/home/logoduodark.png" alt="Logo DUO Eventos" width="350">
                        </h6>
                        <p>
                        Comemore seus melhores momentos com muito estilo e diversão!
                        </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                        Produtos
                        </h6>
                        <p>
                        <a href="#!" class="text-reset">DUO Adultos</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset">DUO Kids</a>
                        </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                        Links importantes
                        </h6>
                        <p>
                        <a href="#!" class="text-reset">Entrar</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset">Registrar-se</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset">Orçamento</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset">Ajuda</a> 
                        </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                        <p><i class="fas fa-home me-3"></i>
                            <a href="https://www.google.com.br/maps/place/12%C2%B006'36.9%22S+45%C2%B046'17.3%22W/@-12.110256,-45.771484,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xa1ed750b841a8edd!8m2!3d-12.110256!4d-45.771484" target="_blank">AV Albano Lauck, Novo Paraíso, LEM-BA</a>
                        </p>
                        <p>
                        <i class="fas fa-envelope me-3"></i>
                        <a href="https://duoeventoslem@gmail.com" target="_blank">duoeventoslem@gmail.com</a>
                        </p>
                        <p><i class="fas fa-phone me-3"></i>
                            <a href="https://api.whatsapp.com/send?phone=5577999886660&text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20sobre%20a%20DUO%20Eventos." target="_blank">+55 77 9988-6660</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Desenvolvido por
        <a class="text-reset fw-bold" href="https://www.standbyte.com.br" target="_blank">Standbyte Informática</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--<footer>
        <div class="navbar justify-content-center" style="background-color: #000000cb; padding: 12px; color: white;">
            <p>Desenvolvido por <a href="https://www.standbyte.com.br" target="_blank">StandByte Informática</a></p>
        </div>
    </footer>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>