<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>DUO Eventos</title>
</head>
<body style="background-color: #000000cb;">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #000000cb;">
            <div class="container-fluid">
              <div class="navbar-brand" style="color: white;">
                <img src="img/home/logo_white.png" alt="Logo" width="90" height="70">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: white;">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contract" style="color: white;">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/reserve" style="color: white;">Reservar</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>-->
                </ul>
                <div class="dropdown d-flex" style="margin-right: 7%;">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                          Usuário
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="/my_data">Meus dados</a></li>
                          <li><a class="dropdown-item" href="/my_reservations">Minhas reservas</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
                <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
              </div>
            </div>
        </nav>
    </header>
    <main style="margin-bottom: 12px;">
        <div class="container" style="border-radius: 0px 0px 12px 12px; background-color: #ffffffda; padding: 12px;">
            <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1062558916652834886/image.png?width=676&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Subtítulo</h5>
                        <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1063176974396313662/image.png?width=834&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Subtítulo</h5>
                      <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1062691181961678909/image.png?width=685&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Subtítulo</h5>
                      <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Proximo</span>
                </button>
            </div>

            <div class="row" style="margin-top: 100px;">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoduo.png" class="card-img-top" alt="Logo DUO Adultos">
                        <div class="card-body">
                          <h5 class="card-title">Adultos</h5>
                          <p class="card-text">Uma descrição sobre o espaço para Adultos</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoduo_kids.png" class="card-img-top" alt="Logo DUO Kids">
                        <div class="card-body">
                          <h5 class="card-title">Kids</h5>
                          <p class="card-text">Uma descrição sobre o espaço para Crianças</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoeventos.png" class="card-img-top" alt="Lodo DUO Eventos">
                        <div class="card-body">
                          <h5 class="card-title">DUO Eventos</h5>
                          <p class="card-text">Uma descrição sobre toda a empresa</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="navbar justify-content-center" style="background-color: #000000cb; padding: 12px; color: white;">
            <p>Desenvolvido por <a href="https://www.standbyte.com.br" target="_blank">StandByte Informática</a></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>