<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Duo Eventos</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="navbar-brand">
                <img src="https://media.discordapp.net/attachments/1062558898982240346/1062558916652834886/image.png?width=729&height=513" alt="Logo" width="60" height="60" style="border-radius: 50%;">
                DUO Eventos
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit harum quod magni enim magnam in dolorum voluptatibus non inventore. Ducimus sint cupiditate reiciendis exercitationem. Id repellendus voluptates voluptas ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis aut illum doloribus architecto voluptate maxime tempore error nemo assumenda corporis autem iusto ullam exercitationem iure explicabo, deleniti, esse ab.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam debitis necessitatibus dignissimos perspiciatis voluptate. Quo temporibus vitae inventore maxime distinctio illum aut quae placeat, atque nobis amet, facilis sed hic!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid nam quam qui mollitia quos, quaerat consectetur accusantium quasi aut at cum a ullam! Corporis natus quae quas laborum ipsa vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid ad praesentium velit quis eum repudiandae, minus officia corrupti exercitationem animi quisquam commodi eligendi illo sapiente atque autem incidunt? Dignissimos.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, est aliquid! Cupiditate, provident beatae nulla dicta rerum sit accusamus iste soluta adipisci repellat eos dignissimos voluptas voluptates error voluptate magni.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta totam impedit excepturi temporibus similique repellat corporis unde, sunt odio praesentium repudiandae cum quasi nesciunt illo sit, odit mollitia ullam fugit!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae exercitationem dolorem possimus? Reiciendis doloremque delectus vitae possimus dolorem cumque consequuntur soluta vel nesciunt quas ab, quis ducimus dolorum saepe debitis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim, beatae laudantium esse sint commodi quibusdam placeat quaerat laboriosam nemo sapiente, sunt officia voluptatum excepturi, voluptate est. Dolor, explicabo! Esse.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum sunt, voluptate, facere explicabo magni deleniti rem rerum ratione earum veniam obcaecati voluptatum magnam numquam nobis harum? Illum, molestiae exercitationem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur, iusto nisi, quidem hic voluptatem illum fugit quam optio quia amet repudiandae est. Quam quas odit explicabo unde voluptatum porro?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eos, praesentium fuga commodi harum quaerat veritatis ad dolores inventore? Minus dolorum qui similique tenetur quidem! Culpa voluptas doloribus saepe suscipit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse asperiores perspiciatis optio reprehenderit temporibus consequatur atque officiis recusandae alias sunt mollitia quae, possimus eligendi qui, similique, et assumenda vero velit.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, culpa, excepturi sequi aliquid officia exercitationem perspiciatis ex beatae atque itaque eos consequatur ab dolore a nobis dicta est! Distinctio, aliquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptates architecto mollitia consectetur est ipsam dolore magni tempore ducimus laudantium quo laboriosam eum. Commodi, quo. Nesciunt laudantium eum ducimus magnam.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ipsa molestiae eveniet natus hic ab, a, provident velit adipisci sit, exercitationem at impedit harum maiores libero temporibus voluptatum dignissimos! Quisquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur expedita fugiat sunt alias ducimus impedit veritatis eveniet officia autem velit labore odit adipisci cum, eos obcaecati, perferendis laudantium placeat. Impedit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores accusamus esse cumque harum nostrum itaque, sunt velit animi ad nihil labore qui quaerat consectetur incidunt possimus inventore fugit blanditiis debitis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas nisi ex unde inventore cum laborum odit. Illo delectus nisi, itaque laboriosam dolore odio assumenda nihil exercitationem est sint laudantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore assumenda consectetur molestiae dicta at exercitationem repellendus totam dolor officia, ab aspernatur explicabo facilis perspiciatis eum. Inventore, aliquid! Veritatis, illum amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, eius excepturi. Asperiores distinctio, aspernatur esse dolor dolorum veritatis qui aperiam! Quisquam deserunt praesentium reprehenderit? Provident expedita odit distinctio fugit fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur, ad repellat ipsa nemo ab architecto similique. Suscipit sint, tempore nostrum itaque laudantium saepe! Pariatur asperiores sed fugit dignissimos deserunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur necessitatibus dolorem natus recusandae facilis, velit, reiciendis in ab culpa, delectus quis molestias. Qui consectetur tempora soluta voluptatem, doloribus quisquam odio!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum perspiciatis labore eaque placeat nemo voluptatibus ratione, cumque dignissimos aliquam adipisci repellendus! Provident eos, ex temporibus culpa minus nostrum dignissimos vero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dicta, at quod eaque odio libero non, maxime rem quidem, ipsam impedit. Quidem asperiores facilis aliquam libero ex totam voluptatibus minus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum quis dignissimos qui, iusto maiores cumque quas dolore quaerat. Laborum veniam optio quasi perspiciatis repellat dolorum eaque impedit ipsa earum labore!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat nisi sed, tempore earum suscipit dicta aliquam doloribus dolore ut dolorum velit maxime iste dignissimos ab, pariatur commodi at eligendi esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione explicabo voluptatem asperiores laborum obcaecati sit reprehenderit hic ipsam quae quam! Libero facilis quibusdam dicta sed pariatur vitae omnis amet corrupti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quaerat earum? Eum adipisci voluptatem porro aut nihil natus eligendi suscipit quos eos, hic consectetur ipsa tenetur repudiandae, magni sapiente voluptatum?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde dolor, iure quaerat atque praesentium dolorum veritatis neque nam sequi sint minus magnam, sed ipsum, odio accusamus temporibus iste. Voluptatibus, quas!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia doloremque consequatur, laudantium consequuntur veritatis eligendi! Cupiditate, sint! Quos et nihil ullam numquam itaque nisi maxime adipisci facere harum, consequatur ipsum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quae obcaecati quaerat voluptas optio, excepturi nesciunt velit laudantium? Voluptatem aliquid optio voluptas, quaerat obcaecati possimus ipsum aperiam magnam provident quas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, expedita. Soluta dolorum dolores veniam cum eveniet, id iure tempora quidem error est sapiente autem quasi et suscipit alias, quia aut.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae vel, id consequatur alias obcaecati itaque, eos iusto ratione expedita quam voluptatem ipsam ipsa tempora corrupti voluptas possimus magni dicta!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, laudantium esse recusandae soluta iure magnam quibusdam atque molestias dolore excepturi laboriosam, dolorum voluptates sapiente aliquid, enim beatae tempore reiciendis. Obcaecati?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia excepturi iusto dolore quam praesentium, consequatur culpa aspernatur ipsa magni quaerat nostrum repellat dignissimos voluptate, asperiores voluptatem impedit fugiat nemo exercitationem!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quisquam, eligendi, porro recusandae ratione fugiat voluptates magni iste possimus, saepe sequi unde doloremque incidunt perspiciatis illum quibusdam. Sapiente, rem earum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum velit cupiditate exercitationem sapiente, ducimus eveniet sint minima dolorem quis eligendi aut ipsa perspiciatis ipsum repudiandae aspernatur sit officia distinctio dicta.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sed necessitatibus illo incidunt nulla commodi quisquam consequatur perferendis placeat. Voluptatum suscipit ea odio veniam libero voluptates doloremque. Error, illum tempore?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus non placeat illo, temporibus, tempore dolorem illum aliquid est voluptatum ipsum earum. Vitae sapiente voluptas incidunt tempora minus at earum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi sapiente, tempore molestias molestiae vitae pariatur incidunt reprehenderit expedita, ab placeat recusandae eveniet quae laboriosam alias ex illo eos et? Voluptate!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nihil repellendus facilis placeat esse, facere natus? Est autem possimus officiis. Magnam consequuntur id amet inventore numquam nisi reiciendis reprehenderit debitis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel voluptatibus quo rem harum enim quae sint fuga? Accusamus totam, qui non eius ipsum eum velit voluptatibus, cumque sit sunt laudantium.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi soluta, ratione dolor ipsa harum reprehenderit qui natus provident nostrum cum, voluptas aliquam corrupti fuga quibusdam quaerat dicta nam, laudantium veritatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolorem unde neque, et asperiores mollitia optio, aperiam error accusamus illo iusto in, assumenda modi! Laboriosam qui molestias libero aspernatur atque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vel sit non similique fugiat. Voluptatem, exercitationem blanditiis. Rem recusandae, saepe assumenda veniam quidem, pariatur, aut iste esse hic sit suscipit?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quasi recusandae doloremque dignissimos id enim architecto fuga tenetur. Ex iure nisi, repellendus quam autem dolor sapiente quisquam a excepturi quibusdam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel incidunt, expedita ea odit sint enim voluptates ad explicabo harum officiis debitis obcaecati, tenetur vitae, iure saepe voluptatum est impedit eligendi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque accusantium nobis quos, suscipit dolorum amet maxime natus molestias laudantium debitis reiciendis iste dignissimos deleniti, ratione in quasi provident obcaecati.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, veritatis? Autem libero temporibus earum facere sed iusto rem optio totam suscipit voluptatum odit laboriosam, iure cupiditate ipsum recusandae ratione error?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero expedita quisquam, laboriosam suscipit impedit quam optio cum harum nisi hic molestiae est, commodi nulla enim consequatur dolores quia dignissimos?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut rem architecto illum, necessitatibus est repudiandae atque, dolorem laboriosam esse vitae eligendi omnis totam nostrum, aliquam molestias assumenda sit nisi facilis?

    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>