<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>DUO Eventos</title>
</head>
<body style="background-color: #000000cb;">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #000000cb;">
            <div class="container-fluid">
              <div class="navbar-brand" style="color: white;">
                <img src="img/home/logo_white.png" alt="Logo" width="90" height="70">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: white;">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contract" style="color: white;">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/reserve" style="color: white;">Reservar</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>-->
                </ul>
                <div class="dropdown d-flex" style="margin-right: 7%;">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                          Usuário
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="/my_data">Meus dados</a></li>
                          <li><a class="dropdown-item" href="/my_reservations">Minhas reservas</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
                <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
              </div>
            </div>
        </nav>
    </header>
    <main>
        
        <div class="container" style="border-radius: 0px 0px 12px 12px; background-color: #ffffffda; padding: 12px;">
            <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1062558916652834886/image.png?width=676&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Subtítulo</h5>
                        <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1063176974396313662/image.png?width=834&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Subtítulo</h5>
                      <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://media.discordapp.net/attachments/1062558898982240346/1062691181961678909/image.png?width=685&height=476" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Subtítulo</h5>
                      <p>Texto qualquer sobre o local com base na imagem</p>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Proximo</span>
                </button>
            </div>

            <div class="row" style="margin-top: 100px;">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Adultos</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="img/home/logoduo_kids.png" class="card-img-top" alt="Logo DUO Kids">
                        <div class="card-body">
                          <h5 class="card-title">Kids</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card" style="padding-top: 12px;">
                        <img src="..." class="carstyle="padding-top: 12px;"d-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">DUO Eventos</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit harum quod magni enim magnam in dolorum voluptatibus non inventore. Ducimus sint cupiditate reiciendis exercitationem. Id repellendus voluptates voluptas ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis aut illum doloribus architecto voluptate maxime tempore error nemo assumenda corporis autem iusto ullam exercitationem iure explicabo, deleniti, esse ab.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam debitis necessitatibus dignissimos perspiciatis voluptate. Quo temporibus vitae inventore maxime distinctio illum aut quae placeat, atque nobis amet, facilis sed hic!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid nam quam qui mollitia quos, quaerat consectetur accusantium quasi aut at cum a ullam! Corporis natus quae quas laborum ipsa vero?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid ad praesentium velit quis eum repudiandae, minus officia corrupti exercitationem animi quisquam commodi eligendi illo sapiente atque autem incidunt? Dignissimos.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, est aliquid! Cupiditate, provident beatae nulla dicta rerum sit accusamus iste soluta adipisci repellat eos dignissimos voluptas voluptates error voluptate magni.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta totam impedit excepturi temporibus similique repellat corporis unde, sunt odio praesentium repudiandae cum quasi nesciunt illo sit, odit mollitia ullam fugit!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae exercitationem dolorem possimus? Reiciendis doloremque delectus vitae possimus dolorem cumque consequuntur soluta vel nesciunt quas ab, quis ducimus dolorum saepe debitis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim, beatae laudantium esse sint commodi quibusdam placeat quaerat laboriosam nemo sapiente, sunt officia voluptatum excepturi, voluptate est. Dolor, explicabo! Esse.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum sunt, voluptate, facere explicabo magni deleniti rem rerum ratione earum veniam obcaecati voluptatum magnam numquam nobis harum? Illum, molestiae exercitationem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur, iusto nisi, quidem hic voluptatem illum fugit quam optio quia amet repudiandae est. Quam quas odit explicabo unde voluptatum porro?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eos, praesentium fuga commodi harum quaerat veritatis ad dolores inventore? Minus dolorum qui similique tenetur quidem! Culpa voluptas doloribus saepe suscipit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse asperiores perspiciatis optio reprehenderit temporibus consequatur atque officiis recusandae alias sunt mollitia quae, possimus eligendi qui, similique, et assumenda vero velit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, culpa, excepturi sequi aliquid officia exercitationem perspiciatis ex beatae atque itaque eos consequatur ab dolore a nobis dicta est! Distinctio, aliquam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptates architecto mollitia consectetur est ipsam dolore magni tempore ducimus laudantium quo laboriosam eum. Commodi, quo. Nesciunt laudantium eum ducimus magnam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ipsa molestiae eveniet natus hic ab, a, provident velit adipisci sit, exercitationem at impedit harum maiores libero temporibus voluptatum dignissimos! Quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur expedita fugiat sunt alias ducimus impedit veritatis eveniet officia autem velit labore odit adipisci cum, eos obcaecati, perferendis laudantium placeat. Impedit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores accusamus esse cumque harum nostrum itaque, sunt velit animi ad nihil labore qui quaerat consectetur incidunt possimus inventore fugit blanditiis debitis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptas nisi ex unde inventore cum laborum odit. Illo delectus nisi, itaque laboriosam dolore odio assumenda nihil exercitationem est sint laudantium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore assumenda consectetur molestiae dicta at exercitationem repellendus totam dolor officia, ab aspernatur explicabo facilis perspiciatis eum. Inventore, aliquid! Veritatis, illum amet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, eius excepturi. Asperiores distinctio, aspernatur esse dolor dolorum veritatis qui aperiam! Quisquam deserunt praesentium reprehenderit? Provident expedita odit distinctio fugit fugiat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur, ad repellat ipsa nemo ab architecto similique. Suscipit sint, tempore nostrum itaque laudantium saepe! Pariatur asperiores sed fugit dignissimos deserunt.
                
                </p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>