<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DUO Eventos | Painel</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/login/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="css/admin/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/login/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="img/home/logo_white.png" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light">Cliente</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= name %>
            <%= firstname %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/painel" class="nav-link">
                <i class="nav-icon fas">&#8863</i>
                <p>
                    Página inicial
                </p>
            </a>
          </li>
          <% if(admin){ %>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Painel Administrador
                    </p>
                </a>
            </li>
          <% } %>
          <li class="nav-item">
            <a href="/my_datas" class="nav-link">
              <i class="nav-icon fas">&#164</i>
              <p>
                Meus dados
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/my_reservations" class="nav-link">
                <i class="nav-icon fas">📆</i>
                <p>
                    Minhas reservas
                </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
                <p>
                  Sair
                </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Alterar dados</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <form action="/changedata" method="post">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Pessoais</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <strong>&#8722</strong>
              </button>
            </div>
          </div>
          <div class="card-body">
            <label for="name" class="form-label">Nome:</label>
            <input required type="text" name="name" id="name" class="form-control-sm form-control col-4" placeholder="Ex: Kalisom">
            
            <label for="firstname" class="form-label">Sobrenome:</label>
            <input required type="text" name="firstname" id="firstname" class="form-control-sm form-control col-6" placeholder="Ex: Soares da Cruz">
            
            <label for="rg" class="form-label">RG:</label>
            <input required type="number" name="rg" id="rg" class="form-control form-control-sm col-2" placeholder="Somente números">
            
            <label for="cpf" class="form-label">CPF:</label>
            <input required type="number" name="cpf" id="cpf" placeholder="Somente números" class="form-control-sm form-control col-3">

            <label for="genre">Gênero</label>
            <select required name="genre" id="genre" class="form-select form-control form-control-sm col-3">
              <option value="0" selected>Escolha o gênero</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>

            <label for="marital" class="form-label">Estado Civil:</label>
            <select required name="marital" id="marital" class="form-select form-control form-control-sm col-3">
              <option value="0" selected>Escolha o estado civíl</option>
              <option value="Solteiro">Solteiro</option>
              <option value="Casado">Casado</option>
              <option value="Separado">Separado</option>
              <option value="Divorciado">Divorciado</option>
              <option value="Viúvo">Viúvo</option>
            </select>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Endereço</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <strong>&#8722</strong>
              </button>
            </div>
          </div>
          <div class="card-body">
            <label for="street" class="form-label">Rua:</label>
            <input required type="text" name="street" id="street" class="form-control form-control-sm col-6" placeholder="Ex: Rondônia">

            <label for="number" class="form-label">Número:</label>
            <input type="number" name="number" id="number" class="form-control form-control-sm col-3" placeholder="Ex:151 (Deixe vazio caso não tenha número)">

            <label for="complement" class="form-label">Complemento:</label>
            <input type="text" name="complement" id="complement" class="form-control form-control-sm col-5" placeholder="Opcional">

            <label for="cep" class="form-label">CEP:</label>
            <input required type="number" name="cep" id="cep" class="form-control form-control-sm col-4" placeholder="Somente números">

            <label for="district" class="form-label">Bairro</label>
            <input required type="text" name="district" id="district" class="form-control form-control-sm col-5" placeholder="Ex: Centro">

            <label for="city">Cidade:</label>
            <input required type="text" name="city" id="city" class="form-control form-control-sm col-4">

            <label for="state" class="form-label">Estado:</label>
            <select required name="state" id="state" class="form-control form-select form-control-sm col-3">
              <option value="0">Selecione um estado</option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Contato</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <strong>&#8722</strong>
              </button>
            </div>
          </div>
          <div class="card-body">
            <label for="email" class="form-label">E-mail</label>
            <input required type="email" name="email" id="email" class="form-control form-control-sm col-6" placeholder="Ex: contato@vumer.com.br">
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          </div>
          <!-- /.card-footer-->
        </div>
        <div class="text-center" style="margin-bottom: 12px;">
          <button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
        </div>
        
        <!-- /.card -->
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer text-center">
    <div class="float-right d-none d-sm-block">
      <b>Versão</b> 1.0
    </div>
    <strong>Desenvolvido por <a href="https://www.standbyte.com.br" target="_blank">Standbyte Informática</a>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="jquery/login/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="jquery/login/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="jquery/admin/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="jquery/login/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<!--<script src="jquery/admin/demo.js"></script>-->
</body>
</html>
