<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DUO EVENTOS | Registro</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/login/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="css/login/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/login/adminlte.min.css">
</head>
<body class="hold-transition register-page" style="background-image: url('https://cdn.discordapp.com/attachments/1062558898982240346/1062558916652834886/image.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>DUO</b>Eventos</a>
  </div>

  <div class="card" style="background-color: #ffffffe5;">
    <div class="card-body">
      <p class="login-box-msg">Registrar uma nova conta</p>

      <% if(erro){ %>
        <div class="alert alert-danger" role="alert" style="background-color: #ff0000a6;">
          <%= erro %>
        </div>
      <% } %>

      <form action="/register" method="post">
        <div class="input-group mb-3">
          <input name="name" type="text" class="form-control" placeholder="Nome completo" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="user" type="email" class="form-control" placeholder="E-mail" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="Senha" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="confirm_password" type="password" class="form-control" placeholder="Confirmar senha" id="form_confirm_password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <% if(terms){ %>
            <div class="alert alert-warning" role="alert" style="background-color: #fff3cd;">
              <%= terms %>
            </div>
          <% } %>
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               Eu concordo com os <a href="#">termos</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" id="button_register">Registrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!--<div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div>-->

      <a href="/login" class="text-center">Já tenho uma conta</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="jquery/login/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="jquery/login/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="jquery/login/adminlte.min.js"></script>
</body>
</html>
