<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DUO EVENTOS | Orçamento</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/login/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="css/login/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/login/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('img/home/logoduo.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>DUO</b>Eventos</a>
  </div>
  <!-- /.login-logo -->
  <div class="card" style="background-color: #ffffffe5;">
    <div class="card-body">
        <h5 class="login-box-msg">Escolha uma data</h5>

        <% if(erro){ %>
          <div class="alert alert-danger" role="alert" style="background-color: #ff0000a6;">
            <%= erro %>
          </div>
        <% } %>

        <form action="/bookingdate" method="post">
            <div class="input-group mb-3">
                <input name="date" type="date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Verificar</button>
        </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="jquery/login/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="jquery/login/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="jquery/login/adminlte.min.js"></script>
</body>
</html>
