<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUO Eventos | Termos de reserva</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body style="background-color: black;">
    <main>
        <div class="container" style="background-color: #fffffff6; padding: 12px; box-shadow: 3px 3px 20px #ffffff75;">
            <div class="text-center">
                <h1 style="color: red;">PÁGINA IMPORTANTE!</h1>
                <h2>Abaixo estão listados termos importantes para prosseguir com o agendamento da reserva</h2>
            </div>
            <hr>
            <h3 class="text-center">OBJETO</h3>
            <ol>
                <li>
                    <p class="text-justify">
                        &nbsp; O espaço locado tem capacidade máxima para 100 (cem) pessoas, número este que não poderá ser ultrapassado, além de possuir como horário limite para ocorrência do evento até às 00:00h, sob pena de multa e à rescisão automática do contrato, a critério da LOCADORA, mediante, inclusive ressarcimento de eventuais perdas e danos.
                    </p>
                </li>
                <li>
                    <p class="text-justify"> 
                        &nbsp; A área contratada somente poderá ser utilizada para finalidade de realização do evento acordado, sendo terminantemente vedada sua utilização para outro fim. O desvio de finalidade ou a inobservância do acordo sujeitam o LOCATÁRIO à multa e à rescisão automática do contrato, a critério da LOCADORA, mediante, inclusive ressarcimento de eventuais perdas e danos.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Caso haja necessidade de ultrapassar o número de pessoas acima indicado será necessária prévia aprovação da LOCADORA à LOCÁTARIA por escrito ou por meios digitais (WhatsApp, e-mail). 
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; A LOCADORA não será responsabilizada por quaisquer incidentes que ocorram no espaço locado aos quais não der causa ou motivo. 
                    </p>
                </li>
            </ol>

            <h3 class="text-center">PRAZO DA LOCAÇÃO</h3>
            <ol>
                <li>
                    <p class="text-justify">
                        &nbsp; A presente locação tem prazo de 24 horas, com ínicio as <strong>00:00h</strong> do dia <strong><%= day %></strong> e término as <strong>00:00h</strong> do dia <strong><%= nextday %></strong>;
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; A <strong>LOCATÁRIA</strong> deverá desocupar integralmente o espaço até as 00:00h do dia <%= nextday %>;
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Caso a <strong>LOCATÁRIA</strong> permaneça no espaço após o término do prazo acima determinado, sem o consentimento da <strong>LOCADORA</strong>, ficará sujeita ao pagamento de multa no valor da locação; 
                    </p>
                </li>
            </ol>

            <h3 class="text-center">OBRIGRAÇÕES DO LOCATÁRIO</h3>
            <ol type="a">
                <li>
                    <p class="text-justify">
                        &nbsp; Serão de inteira responsabilidade do <strong>LOCATÁRIO</strong>, quaisquer danos causados aos bens móveis e imóveis da <strong>LOCADORA</strong>.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; No dia da assinatura do contrato, o <strong>LOCATÁRIO</strong> também assinará um termo de vistoria à qual estará anexa uma relação com todos os itens constantes do espaço e que, juntamente com a <strong>LOCADORA</strong> fará uma vistoria inicial no local para verificação do estado e funcionamento de todo espaço, responsabilizando-se integralmente por quaisquer danos causados.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O <strong>LOCATÁRIO</strong> poderá contratar os serviços de terceiros, ficando a <strong>LOCADORA</strong> isenta de quaisquer responsabilidades referentes às contratações.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O <strong>LOCATÁRIO</strong> só poderá utilizar o salão de festas e eventos no dia de sua locação a partir das 00:00h do mesmo dia, sob pena de um novo aluguel.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Quando houver decoração particular, esta deve ser retirada após o término do evento, sob pena de multa.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; A data reservada para o seu evento é intransferível e o valor pago não será reembolsado.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Fica vedado ao <strong>LOCATÁRIO</strong> sublocação, cessão ou empréstimo do espaço que lhe for locado, quer no todo, ou em parte, ou sob qualquer título, sem a expressa autorização  da <strong>LOCADORA</strong>, sob pena de rescisão do presente contrato, sem reembolso.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Declara o(a) <strong>LOCATÁRIO(A)</strong> que o uso do salão será restrito para o evento registrado na reserva, não se desviando, sob hipótese alguma, seus objetivos. É de responsabilidade exclusiva do(a) <strong>LOCATÁRIO(A)</strong> a condução do comportamento de seus convidados, bem como caberá a(o) mesmo(a) a exigência de que seja retirado o convidado que infringir regras de conduta, obedecidos os décideis previsto na lei até as 22h00.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O locatário(a) responderá cível e criminalmente por todo e qualquer ato e fato ocorrido nas dependências do ambiente locado que causar dano ao patrimônio e as demais pessoas presentes.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; É proibido o uso de chuva de prata, sinalizadores, fogos de artificios , malabares com fogo ou similares, sob pena de multa de 100% (cem por cento) do valor do contrato e responsabilização civil e criminal e sobre todos os danos patrimonias com cobertura completa.
                    </p>
                </li>
            </ol>

            <h3 class="text-center">OBSERVÂNCIA A LGPD</h3>
            <p class="text-justify">
                &nbsp; O COMPRADOR declara expresso consentimento que a VENDEDORA irá coletar, tratar e compartilhar os dados necessários ao cumprimento do contrato, nos termos do art. 7°, inciso V da LGPD, os dados necessários para cumprimento das obrigações legais, nos termos art. 7°, inciso II da LGPD, bem como os dados, se necessários para proteção de crédito, conforme autorizado pelo art. 7°, inciso X da LGPD. 
            </p>
            <div class="text-right" style="margin-top: 120px;">
                <a class="btn btn-primary" href="/finish_reserve">Li e concordo com os termos</a>
            </div>
        </div>
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>
</html>