<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUO Eventos | Termos de reserva</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body style="background-color: black;">
    <main>
        <div class="container" style="background-color: #fffffff6; padding: 12px; box-shadow: 3px 3px 20px #ffffff75;">
            <div class="text-center">
                <h1 style="color: red;">PÁGINA IMPORTANTE!</h1>
                <h2>Abaixo estão listados termos importantes para prosseguir com o agendamento da reserva</h2>
            </div>
            <hr>
            <h3 class="text-center">ASPECTOS INTERNOS</h3>
            <ol>
                <li>
                    <p class="text-justify">
                        &nbsp; A capacidade do salão é de 108 (cento e oito) pessoas. Compromete-se o (a) locatário (a) não exceder. Sob pena de multa. Caso haja necessidade de ultrapassar o número de pessoas indicado será necessária prévia aprovação e sujeito a alteração de valores.
                    </p>
                </li>
                <li>
                    <p class="text-justify"> 
                        &nbsp; O (A) LOCATÁRIO (A) assume toda a responsabilidade quanto ao consumo de bebidas, alimentação e outras aquisições, efetuadas no dia do evento. 
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O espaço só será liberado no dia locado para fazer a decoração e entrega de bebidas. Caso no dia anterior o salão não estiver locado e o (a) locatário (a) quiser utilizar, será cobrado uma taxa de 50% do valor da locação. E estará liberado no seguinte horário: 11h as 5h.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O (A) LOCATÁRIO (A) responsabilizar-se-á por possíveis danos que sofrerem as instalações, móveis ou decoração do ambiente, paisagismo, eletroeletrônicos e eletrodomésticos, caso esses danos sejam provocados por si ou seus convidados.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; É de responsabilidade do (a) locatário (a) levar produto de limpeza, saco de lixo, papel higiênico, sabonete, toalhas de mão para o banheiro.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; A locadora pode colocar um fiscal para observância das normas. 
                    </p>
                </li>
            </ol>

            <h3 class="text-center">PRAZO DA LOCAÇÃO</h3>
                <p class="text-justify">
                    &nbsp; A presente locação tem prazo de 18 horas, com início às 11:00 e deverá desocupar integralmente o espaço as 05:00 horas. Caso a <strong>LOCATÁRIA</strong> permaneça no espaço após o término do prazo acima determinado, sem o consentimento da <strong>LOCADORA</strong>, ficará sujeita ao pagamento de multa no valor da locação.
                </p>

            <h3 class="text-center">OBRIGRAÇÕES DO LOCATÁRIO</h3>
            <ol type="a">
                <li>
                    <p class="text-justify">
                        &nbsp; Horário limite para ocorrência do evento até 5 horas de duração, sob pena de multa determinada em contrato. 
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Quando houver decoração particular, esta deve ser retirada após o término do evento, não podendo estender o horário limite, sob pena de multa. </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; A data reservada para o seu evento é intransferível e o valor pago não será reembolsado. </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; Declara o (a) <strong>LOCATÁRIO (A)</strong> que o uso do salão será restrito para o evento registrado na reserva, não se desviando, sob hipótese alguma, seus objetivos. É de responsabilidade exclusiva do (a) <strong>LOCATÁRIO (A)</strong> a condução do comportamento de seus convidados, bem como caberá a (o) mesmo (a) a exigência de que seja retirado o convidado que infringir regras de conduta, obedecidos os decibéis previsto na lei até as 22h00.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; O locatário (a) responderá cível e criminalmente por todo e qualquer ato e fato ocorrido nas dependências do ambiente locado que causar dano ao patrimônio e as demais pessoas presentes. 
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        &nbsp; É proibido o uso de chuva de prata, sinalizadores, fogos de artifícios, malabares com fogo ou similares, pendurar objetos no teto ou parede que causem danos as estruturas ou pinturas, uso de fitas tipo dupla face e cola quente nas paredes, colunas e teto, sob pena de multa de 100% (cem por cento) do valor do contrato e responsabilização civil e criminal sobre todos os danos patrimoniais com cobertura completa. 
                    </p>
                </li>
            </ol>

            <h3 class="text-center">OBSERVÂNCIA A LGPD</h3>
            <p class="text-justify">
                &nbsp; O COMPRADOR declara expresso consentimento que a VENDEDORA irá coletar, tratar e compartilhar os dados necessários ao cumprimento do contrato, nos termos do art. 7°, inciso V da LGPD, os dados necessários para cumprimento das obrigações legais, nos termos art. 7°, inciso II da LGPD, bem como os dados, se necessários para proteção de crédito, conforme autorizado pelo art. 7°, inciso X da LGPD.
            </p>
            <div class="text-right" style="margin-top: 120px;">
                <a class="btn btn-primary" href="/finish_reserve">Li e concordo com os termos</a>
            </div>
        </div>
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>
</html>